server:
  port: 8080
  servlet:
    encoding:
      charset: utf-8
      force: true

spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp 
  datasource:
    #url: jdbc:h2:mem:testdb;MODE=MYSQL
    #driver-class-name: org.h2.Driver
    url: jdbc:mysql://localhost:3306/HOBBIES_SHARE?serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234
#  sql:
#    init:
#      schema-locations:
#      - classpath:db/table.sql
#      data-locations:
#      - classpath:db/data.sql    
#  h2:
#    console:
#      enabled: true
#  
#  output:
#    ansi:
#      enabled: always
      
mybatis:
  mapper-locations:
  - classpath:mapper/**.xml
  configuration:
    map-underscore-to-camel-case: true