@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	outline: 0;
}
html, body{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: black;
}
.container{
	display:flex;
	height: 100%;
}
.header{
	width: 20%;
}

.main{
	width: 80%;
}
.blank{
	height: 10%;
	background-color: #000099;
}
.logo{
	height:20%;
	background-color: #404040;
	font-weight: bold;
	font-size: xx-large;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo > a{
	color: #fff;
}
.header > ul{
	height:80%;
	margin:0px;
	padding: 0px;
	list-style-type: none;
	background-color: #404040;
}
.header > ul > li{
	padding: 20px;
	margin-bottom: 10px;
	background-color: #404040;
	border-top: 1px solid #808080;
	color:white
}
.header > ul > li > a{
	text-decoration: none;
	color: white;
	font-weight:bold;
	text-align:center;
}

.header > ul > li:nth-last-child(1){
	background-color: #000099;
	border:none;
	position:fixed;
	margin: 0;
	top: 2%;
	right: 0;
}

.styled-table {
    border-collapse: collapse;
    margin: 0px 5%;
    margin-top: 5vh;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 20px 15px;
}
.styled-table th:nth-child(1),
.styled-table td:nth-child(1) {
    width: 20%;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table > tbody > td{
	text-align:center;
}

.table-Q{
	min-height: calc(85vh - 6rem);
}

.pageNation{
	width: 100%;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pageNation > ul{
	list-style-type: none;
	display: flex;
}
.pageNation > ul > li{
	margin: 0 10px;
}

.pageNation > ul > li > span > a{
	text-decoration: none;
	color: black;
}
