.content{
    display: flex;
    width: 100%;
}
.aside{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside > div{
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.aside > div > div:nth-child(1){
    margin: 10px;
}

.aside > div > div > ul{
    margin: 10px;
    list-style-type: none;
}
.notselected{
    text-decoration: none;
    color: black;
}
.selected{
    color: black;
    text-decoration: underline;
}
.board{
    width: 80%;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.hide-content{
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

