
.board-container {
	display: flex;
	margin-top: 30px;
}

.board-detail {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin-left: 100px;
	box-sizing: border-box;
}

.board-detail-button {
	display: flex;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: black;
}

.board-wrap {
	
}

.board-title {
	padding: 10px 0;
}

.board-writer-info {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	display: flex;
}

.board-content {
	padding: 30px;
	border-bottom: 1px solid #ccc;
}

.comment {
	padding: 10px;
}

.cmt-detail {
	padding: 10px;
	border-bottom: solid 1px gray;
}

.cmt-nickname {
	border-bottom: 1px solid #ccc;
}

.cmt-content {
	border-bottom: 1px solid #ccc;
}

.cmt-info {
	display: flex;
	justify-content: space-between;
}

.cmt-manage {
	
}

.cmt-writeform {
	
}