.board-container {
	min-width: 85%;
	margin-top: 30px;
}

.board-detail {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	box-sizing: border-box;
}

.board-detail-button {
	display: flex;
	justify-content: space-between;
}

.hobby-list-btn {
	font-size: 18px;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}

.board-wrap {
	min-width: 100%;
	min-height: 50%;
}

.board-title {
	padding: 10px 0;
}

.board-writer-info {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.board-owner {
	display: flex;
}

.board-owner img {
	height: 40px;
	width: 40px;
	border-radius: 70%;
}

.board-user-nickname p {
	font-size: 18px;
	font-weight: bold;
	margin: 0 15px;
}

.send-text img {
	height: 30px;
}

.board-content {
	font-size: 15px;
	padding: 30px 15px;
	border-bottom: 2px solid #ccc;
}

.comment {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.cmt-wrap {
	padding: 10px;
	border-bottom: solid 1px gray;
}

.cmt-nickname {
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.cmt-content {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.cmt-info {
	margin-top: 5px;
	justify-content: space-between;
	display: flex;
}

.cmt-manage {
	margin-right: 5px;
}

.cmt-writeform, .rewrite-cmt {
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 15px;
}

.nickname-tag {
	border-radius: 15px 15px 0 0;
	background-color: #008989;
	height: 30px;
}

.nickname-tag p {
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
}

.cmt-writeform #mytextarea, .rewrite-cmt #mytextarea {
	margin-top: 5px;
	border-style: none;
	min-width: 90%;
	border-style: none;
}

.cmt-writeform>form, .rewrite-cmt>form {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.cmt-btn {
	margin-left: 90%;
	width: 50px;
	height: 30px;
	background-color: #fff;
	font-weight: bold;
	border-style: none;
	margin-bottom: 5px;
}