@charset "UTF-8";

.first-section .service-list .guideContainer:nth-child(2) {
	width: 500px;
}

.service-list, .list-section {
	display: flex;
	justify-content: center;
	margin: 30px;
	font-size: 20px;
}

.service-list>div, .list-section>div {
	margin: 10px;
}

.guideContainer, .popular-list, .recent-post {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 300px;
	width: 300px;
}

.guideContainer>img {
	margin-bottom: 5px;
}

.recommend>img {
	border-radius: 70%;
}

.recommend {
	width: 200px;
	font-size: 15px;
	padding: 10px 0;
}

.recommend {
	display: flex;
	width: 150px;
	justify-content: space-between;
}

.recommend>a {
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.title {
	margin-bottom: 10px;
}

.recent-post {
	display: flex;
	flex-direction: column;
	width: 40vw;
	text-align: center;
}

.recent-post>h2 {
	width: 40vw;
	text-align: center;
}

.guideContainer, .popular-list, .recent-post {
	width: 300px;
	border: 1px solid #eee;
	border-radius: 6px;
}

.userlist {
	display: flex;
	margin-top: 5vh;
}

.popularUserList:hover{
	cursor: pointer;
}

.popularBoardList {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 20px 0;
}

.popularBoardList:hover{
	cursor: pointer;
}

.popular-list {
	width: 40vw;
	text-align: center;
}

.popular-list>div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.popular-list img {
	border-radius: 70%;
	width: 10%;
}