@charset "UTF-8";

.first-section .service-list .guideContainer:nth-child(2) {
	width: 550px;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 370px;
	border: 1px solid #eee;
	border-radius: 6px;
}

.service-list, .list-section {
	display: flex;
	justify-content: center;
	margin: 30px;
	font-size: 20px;
}

.service-list>div, .list-section>div {
	margin: 10px;
}

.guideContainer:nth-child(odd) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 370px;
	width: 400px;
	border: 1px solid #eee;
	border-radius: 6px;
}

.popular-list, .recent-post {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 370px;
	width: 400px;
	border: 1px solid #eee;
	border-radius: 6px;
}

.guideContainer>img {
	margin-bottom: 5px;
}

.recommend>img {
	border-radius: 70%;
}

.recommend {
	width: 200px;
	font-size: 15px;
	padding: 10px 0;
}

.recommend {
	display: flex;
	width: 200px;
	line-height: 24px;
	padding-left: 10px;
	border-radius: 6px;
}

.recommend:hover, .popularUserList:hover, .popularBoardList:hover {
	background-color: #eee;
}

.recommend>a {
	font-size: 20px;
	text-decoration: none;
	color: black;
	margin-left: 10px;
}

.recommend:nth-last-child() {
	margin-bottom: 10px;
}

.title {
	margin: 15px 0;
	font-weight: bold;
	font-size: 24px;
}

.recent-post {
	display: flex;
	flex-direction: column;
	width: 40vw;
	text-align: center;
}

.recent-post>h2 {
	width: 40vw;
	text-align: center;
}

.userlist {
	display: flex;
	margin-top: 5vh;
}

.popularUserList, .popularBoardList {
	text-align: center;
	border-radius: 6px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 10px 0;
}

.popularUserList:hover, .popularBoardList:hover {
	cursor: pointer;
}

.popular-list>div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.popularUserList img {
	border-radius: 70%;
	width: 30px;
	height: 30px;
}