<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/board.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">  -->
</head>
<body>
    <div class="container">
        <div class="header">
            <div>
                <a href="#">
                    <img src="https://plchldr.co/i/300x80">
                </a>
            </div>
            <ul>
                <li>
                    회원가입
                </li>
                <li>
                    로그인
                </li>
            </ul>
        </div>
        
        <div class="content">
            <div class="aside">
                <div>
                    <div>
                        취미 리스트
                    </div>
                    <div>
                        <ul>
                            <li><a href="#" class="selected" id="link">asdf</a></li>
                            <li><a href="#" class="notselected" id="link">asdf</a></li>
                            <li><a href="#" class="notselected" id="link">asdf</a></li>
                            <li><a href="#" class="notselected" id="link">asdf</a></li>
                            <li><a href="#" class="notselected" id="link">asdf</a></li>
                            <li><a href="#" class="notselected" id="link">asdf</a></li>
                            <li><a href="#" class="notselected" id="link">asdf</a></li>
                            <li><a href="#" class="notselected" id="link">asdf</a></li>
                            <li><a href="#" class="notselected" id="link">asdf</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
            
            <div class="board">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>글 번호</th>
                            <th>제목</th>
                            <th>내용</th>
                            <th>취미목록</th>
                            <th>작성일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>글씁니다</td>
                            <td><div class="hide-content">내용겁나많음내용겁나많음내용겁나많음내용겁나많음내용겁나많음</div></td>
                            <td>SOCCER</td>
                            <td>2023-04-25</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글씁니다</td>
                            <td><div class="hide-content">내용겁나많음내용겁나많음내용겁나많음내용겁나많음내용겁나많음</div></td>
                            <td>SOCCER</td>
                            <td>2023-04-25</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글씁니다</td>
                            <td><div class="hide-content">내용겁나많음내용겁나많음내용겁나많음내용겁나많음내용겁나많음</div></td>
                            <td>SOCCER</td>
                            <td>2023-04-25</td>
                        </tr>
                        
                    </tbody>
                </table>
                <!-- <table class="table">
                    <thead>
                        <tr>
                            <td>글 번호</td>
                            <td>제목</td>
                            <td>내용</td>
                            <td>취미목록</td>
                            <td>작성일</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>글씁니다</td>
                            <td><div class="hide-content">내용겁나많음내용겁나많음내용겁나많음내용겁나많음내용겁나많음</div></td>
                            <td>SOCCER</td>
                            <td>2023-04-25</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글씁니다</td>
                            <td><div class="hide-content">내용겁나많음내용겁나많음내용겁나많음내용겁나많음내용겁나많음</div></td>
                            <td>SOCCER</td>
                            <td>2023-04-25</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글씁니다</td>
                            <td><div class="hide-content">내용겁나많음내용겁나많음내용겁나많음내용겁나많음내용겁나많음</div></td>
                            <td>SOCCER</td>
                            <td>2023-04-25</td>
                        </tr>
                        
                    </tbody>
                </table> -->
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyRight">
            &copy; GreenArchedemy A조 | Team Member: 김효린, 손주이, 이현서
        </div>
    </div>
</body>
</html>